.info {
  margin-top: 1em;

  div {

    width: 300px;
    margin: auto;
    text-align: left;
    margin-bottom: 1em;
    h4 {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      font-family: "Inria Serif", serif;
      margin-bottom: 0.5em;
      color: #095d69;


    }
    p{
      font-size: 15px;
      font-family: "Inria Serif", serif;
      margin-bottom: 0.5em;
      color: #000000;
    }
  }
}

@media (min-width: 768px) {
  .info{
    div{
      width: 400px;
      h4{
      font-size: 24px;
    }
  }
}}