footer{
  padding: 1em 0em;
  width: 100%;
  min-height: 70px;
  background-color: #323232;
  font-family: "Italiana",sans-serif;
  letter-spacing: 2px;
  font-size: 0.5em;
  font-weight: 600;
  div{
    padding-top:2em
  }
.legal{
    display: flex;
    text-align: center;
  color: #ffffff;
  *{
    width: 50%;
  }
  }
  .facebook{
    text-align: center;
    color: #ffffff;
    .link{color: #565656
    }
  }
}